---
import Section from "../components/Section.astro";
import ProjectCard from "../components/ProjectCard.astro";
const projects = [
  {
    title: "Special Forces Art Department",
    link: "https://graphicdesignerpa.netlify.app/",
    github: "https://github.com/misqke/special-forces-art-department",
    description:
      "A business / portfolio website for a freelance graphic designer. Built with react using NextJS.",
    src: "sfad.png",
  },
  {
    title: "NoPixel GTA Hacking Game",
    link: "https://nopixelhacking.netlify.app/",
    github: "https://github.com/misqke/noPixelHackingGame",
    description:
      "Clone of the hacking mini game from the NoPixel GTA RP server. Built with React.",
    src: "nph.png",
  },
  {
    title: "D&D Encounter Generator",
    link: "https://encounter-buddy.netlify.app/",
    github: "https://github.com/misqke/encounter_buddy",
    description:
      "An encounter generator / monster compendium for Dungeons and Dragons 5th edition. Built with React using NextJs.",
    src: "dndeg.png",
  },
  {
    title: "Who's That Pokemon?",
    link: "https://encounter-buddy.netlify.app/",
    github: "https://github.com/misqke/whos-that-pokemon",
    description: "Simple pokemon guessing game based off the pokemon cartoon.",
    src: "wtp.png",
  },
];
---

<Section id="projects" fullHeight="true">
  <div class="container fh">
    <h2 class="section-title">Projects</h2>

    <div class="projects-inner container-inner">
      <p class="portfolio-desc fade-in" scroll-anim>
        This site is built using Astro to take advantage of reusable components.
        Aside from the framework components, everything on this site is built
        with plain HTML, CSS, and Javascript. Check out some of my other work
        featured below.
      </p>
      <div class="card-container">
        {projects.map((p, i) => <ProjectCard project={p} index={i} />)}
      </div>
      <div class="current-project fade-in" scroll-anim>
        <div class="current-project-img-container">
          <img src={projects[0].src} />
        </div>
        <div class="current-project-info-container glass-bg">
          <h3>{projects[0].title}</h3>
          <p>{projects[0].description}</p>
          <div class="btn-container">
            <a class="btn" href={projects[0].link} target="_blank">Live</a>
            <a class="btn" href={projects[0].github} target="_blank">Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>

<script>
  // @ts-ignore
  const projects = [
    {
      title: "Special Forces Art Department",
      link: "https://graphicdesignerpa.netlify.app/",
      github: "https://github.com/misqke/special-forces-art-department",
      description:
        "A business / portfolio website for a freelance graphic designer. Built with react using NextJS.",
      src: "sfad.png",
    },
    {
      title: "NoPixel GTA Hacking Game",
      link: "https://nopixelhacking.netlify.app/",
      github: "https://github.com/misqke/noPixelHackingGame",
      description:
        "Clone of the hacking mini game from the NoPixel GTA RP server. Built with React.",
      src: "nph.png",
    },
    {
      title: "D&D Encounter Generator",
      link: "https://encounter-buddy.netlify.app/",
      github: "https://github.com/misqke/encounter_buddy",
      description:
        "An encounter generator / monster compendium for Dungeons and Dragons 5th edition. Built with React using NextJs.",
      src: "dndeg.png",
    },
    {
      title: "Who's That Pokemon?",
      link: "https://encounter-buddy.netlify.app/",
      github: "https://github.com/misqke/whos-that-pokemon",
      description:
        "Simple pokemon guessing game based off the pokemon cartoon.",
      src: "wtp.png",
    },
  ];
  const projectCards = document.querySelectorAll(".project-card");
  const imgContainer = document.querySelector(".current-project-img-container");
  let currentProject = projects[0];
  let currentCard = projectCards[0];
  let currentImg = document.querySelector(".current-project-img-container img");
  const title = document.querySelector(".current-project-info-container h3");
  const desc = document.querySelector(".current-project-info-container p");
  const liveBtn = document.querySelector(".current-project-info-container a");

  const swapProjectsDom = (index) => {
    console.log(currentImg);
    const newProject = projects[index];
    title.innerText = newProject.title;
    desc.innerText = newProject.description;
    liveBtn.href = newProject.link;
    currentCard.append(currentImg);
    currentCard.classList.remove("selected");
    projectCards[index].classList.add("selected");
    imgContainer.append(projectCards[index].querySelector("img"));
  };

  const fadeTextOut = () => {
    title.classList.add("hide");
    desc.classList.add("hide");
  };

  const fadeTextIn = () => {
    title.classList.remove("hide");
    desc.classList.remove("hide");
  };

  const handleProjectClick = async (e, card) => {
    const index = e.currentTarget.getAttribute("data-index");

    const newImg = projectCards[index].querySelector("img");
    if (!document.startViewTransition) {
      swapProjectsDom(index);
    } else {
      newImg.style.viewTransitionName = "img-swap";
      const transition = document.startViewTransition(() => {
        fadeTextOut();
        swapProjectsDom(index);
      });

      await transition.ready;
      fadeTextIn();
      newImg.style.viewTransitionName = "";
    }

    currentProject = projects[index];
    currentCard = projectCards[index];
    currentImg = newImg;
  };

  projectCards.forEach((c) => {
    c.addEventListener("click", (e) => handleProjectClick(e, c));
  });
</script>

<style>
  .projects-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem 0;
    height: unset;
    overflow-y: hidden;
    justify-content: flex-start;
    /* min-height: auto; */
  }
  .portfolio-desc {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .current-project {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
  }
  .current-project-img-container {
    border: 1px solid var(--primary);
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  .current-project-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
    border: 1px solid var(--primary);
    text-align: center;
    height: 100%;
  }
  @media screen and (max-width: 1000px) {
    .card-container {
      grid-template-columns: 1fr 1fr;
    }
    .current-project {
      grid-template-columns: 1fr;
      gap: 0rem;
      position: relative;
      overflow: hidden;
    }
    .current-project-img-container {
      border: none;
      padding: 0rem;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
    .current-project-img-container img {
      width: 100%;
      height: auto;
    }
    .current-project-info-container.glass-bg {
      background: #0006;
      backdrop-filter: blur(2px);
      padding: 1rem;
    }
  }
</style>
